In [44]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
weatherPy_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
weatherPy_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Country,Current Desc,Rain,Snow
0,0,Lagoa,39.05,-27.98,68.83,78,16.42,PT,clear sky,0.00,0
1,1,Muros,42.78,-9.06,73.99,64,13.00,ES,clear sky,0.00,0
2,2,Ahuimanu,21.44,-157.84,84.20,48,16.11,US,broken clouds,0.00,0
3,3,Tuktoyaktuk,69.45,-133.04,57.20,67,9.17,CA,scattered clouds,0.00,0
4,4,Saint-Augustin,51.23,-58.65,62.01,95,14.85,CA,overcast clouds,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...
564,564,Iskateley,67.68,53.15,45.50,89,14.20,RU,overcast clouds,0.00,0
565,565,Laredo,27.51,-99.51,102.20,35,9.17,US,clear sky,0.00,0
566,566,Conakry,9.54,-13.68,77.29,88,13.44,GN,moderate rain,2.75,0
567,567,Oum Hadjer,13.30,19.70,88.95,42,6.15,TD,clear sky,0.00,0
568,568,Arman,59.70,150.17,61.59,73,2.33,RU,clear sky,0.00,0

In [35]:
# Prompt the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_q = str(input("Do you want it to be raining? (yes/no) "))
snow_q = str(input("Do you want it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [36]:
if rain_q == 'no' or 'No':
    print("Great, no rain!")
    rain_q = 0
else:
    print ("I want rain! ")
    rain_q >= 0
if snow_q == 'no' or 'No':
    print("Great, no snow!")
    snow_q = 0
else:
    snow_q >= 0
    print ("I want snow! ")

Great, no rain!
Great, no snow!

In [38]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = weatherPy_data_df.loc[(weatherPy_data_df["Max Temp"] <= max_temp) & \
                                       (weatherPy_data_df["Max Temp"] >= min_temp) & \
                                       (weatherPy_data_df["Rain"] == rain_q) & \
                                       (weatherPy_data_df["Snow"] == snow_q)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Country,Current Desc,Rain,Snow
2,2,Ahuimanu,21.44,-157.84,84.20,48,16.11,US,broken clouds,0.0,0
6,6,Marsa Matruh,31.35,27.25,77.00,73,11.41,EG,broken clouds,0.0,0
15,15,Victoria,22.29,114.16,84.00,79,4.00,HK,few clouds,0.0,0
16,16,Assiniboia,49.63,-105.98,80.96,41,7.54,CA,overcast clouds,0.0,0
22,22,Dongli,23.57,116.82,80.60,88,4.47,CN,scattered clouds,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
550,550,Nantucket,41.28,-70.10,80.01,78,14.99,US,clear sky,0.0,0
552,552,Aden,12.78,45.04,87.21,72,10.58,YE,broken clouds,0.0,0
555,555,Vyara,21.12,73.40,79.63,84,9.84,IN,few clouds,0.0,0
558,558,Tiarei,-17.53,-149.33,84.20,62,3.36,PF,scattered clouds,0.0,0
567,567,Oum Hadjer,13.30,19.70,88.95,42,6.15,TD,clear sky,0.0,0

In [39]:
preferred_cities_df.count()

City_ID         167
City            167
Lat             167
Lng             167
Max Temp        167
Humidity        167
Wind Speed      167
Country         167
Current Desc    167
Rain            167
Snow            167
dtype: int64

In [40]:
preferred_cities_df.notnull().sum()

City_ID         167
City            167
Lat             167
Lng             167
Max Temp        167
Humidity        167
Wind Speed      167
Country         167
Current Desc    167
Rain            167
Snow            167
dtype: int64

In [43]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Desc", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Current Desc    Lat     Lng Hotel Name
2       Ahuimanu      US     84.20     broken clouds  21.44 -157.84
6   Marsa Matruh      EG     77.00     broken clouds  31.35   27.25
15      Victoria      HK     84.00        few clouds  22.29  114.16
16    Assiniboia      CA     80.96   overcast clouds  49.63 -105.98
22        Dongli      CN     80.60  scattered clouds  23.57  116.82
24    Wadi Maliz      TN     87.80         clear sky  36.47    8.55
37     Zhanaozen      KZ     80.37         clear sky  43.30   52.80
38   Green River      US     89.60         clear sky  41.53 -109.47
41        Lompoc      US     77.00         clear sky  34.64 -120.46
49        Albany      US     90.00         clear sky  42.60  -73.97

In [45]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [49]:
# Set parameters to search for a hotel.
params = {"radius": 5000,"type": "lodging","key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [51]:
hotel_df

,City,Country,Max Temp,Current Desc,Lat,Lng,Hotel Name
2,Ahuimanu,US,84.20,broken clouds,21.44,-157.84,Paradise Bay Resort
6,Marsa Matruh,EG,77.00,broken clouds,31.35,27.25,Beau Site
15,Victoria,HK,84.00,few clouds,22.29,114.16,Mini Hotel Central
16,Assiniboia,CA,80.96,overcast clouds,49.63,-105.98,Canalta Hotel Assiniboia
22,Dongli,CN,80.60,scattered clouds,23.57,116.82,Chenghai Shizhang Donghuaqiao Hostel
...,...,...,...,...,...,...,...
550,Nantucket,US,80.01,clear sky,41.28,-70.10,Jared Coffin House
552,Aden,YE,87.21,broken clouds,12.78,45.04,Sama Emirate Hotel
555,Vyara,IN,79.63,few clouds,21.12,73.40,Crystal Guest House
558,Tiarei,PF,84.20,scattered clouds,-17.53,-149.33,Le Rocher de Tahiti
567,Oum Hadjer,TD,88.95,clear sky,13.30,19.70,

In [66]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [53]:
# Add marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Desc} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [65]:
# Add pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Save the figure.
#plt.savefig("weather_data/WeatherPy_vacation_map.png")
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))