In [25]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
import requests
# Import the API key.
from config import g_key

In [26]:
vac_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vac_df

,City_ID,City,Country,Max Temp,Current Desc,Lat,Lng,Hotel Name
0,2,Ahuimanu,US,84.20,broken clouds,21.44,-157.84,Paradise Bay Resort
1,6,Marsa Matruh,EG,77.00,broken clouds,31.35,27.25,Beau Site
2,15,Victoria,HK,84.00,few clouds,22.29,114.16,Mini Hotel Central
3,16,Assiniboia,CA,80.96,overcast clouds,49.63,-105.98,Canalta Hotel Assiniboia
4,22,Dongli,CN,80.60,scattered clouds,23.57,116.82,Chenghai Shizhang Donghuaqiao Hostel
...,...,...,...,...,...,...,...,...
162,550,Nantucket,US,80.01,clear sky,41.28,-70.10,Jared Coffin House
163,552,Aden,YE,87.21,broken clouds,12.78,45.04,Sama Emirate Hotel
164,555,Vyara,IN,79.63,few clouds,21.12,73.40,Crystal Guest House
165,558,Tiarei,PF,84.20,scattered clouds,-17.53,-149.33,Le Rocher de Tahiti
166,567,Oum Hadjer,TD,88.95,clear sky,13.30,19.70,NaN

In [27]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Desc} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vac_df.iterrows()]

In [29]:
# Add pop-up marker for each city.
locations = vac_df[["Lat", "Lng"]]
max_temp = vac_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Save the figure.
#plt.savefig("weather_data/WeatherPy_vacation_map.png")
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
cities_list = []
for i in range(4):
    cities_q = str(input("What cities would you like to go? choose four "))
    cities_list.append(cities_q)

What cities would you like to go? choose four Acapulco
What cities would you like to go? choose four San Patricio
What cities would you like to go? choose four Rosarito
What cities would you like to go? choose four Pacific Grove

In [32]:
cities_list

['Acapulco', 'San Patricio', 'Rosarito', 'Pacific Grove']

In [33]:
#mynewdf = vac_df.loc[vac_df["City"].isin(cities_q.split(", "))]
mynewdf_1 = vac_df.loc[vac_df["City"] == cities_list[0]]

In [34]:
mynewdf_1

,City_ID,City,Country,Max Temp,Current Desc,Lat,Lng,Hotel Name
84,277,Acapulco,MX,87.8,broken clouds,16.86,-99.89,HS Hotsson Smart Acapulco

In [35]:
mynewdf_2 = vac_df.loc[vac_df["City"] == cities_list[1]]
mynewdf_2

,City_ID,City,Country,Max Temp,Current Desc,Lat,Lng,Hotel Name
97,318,San Patricio,MX,87.8,scattered clouds,19.22,-104.7,Hotel Cabo Blanco

In [36]:
mynewdf_3 = vac_df.loc[vac_df["City"] == cities_list[2]]
mynewdf_3

,City_ID,City,Country,Max Temp,Current Desc,Lat,Lng,Hotel Name
158,543,Rosarito,MX,88.0,scattered clouds,32.33,-117.03,Hotel Festival Plaza Rosarito

In [37]:
mynewdf_4 = vac_df.loc[vac_df["City"] == cities_list[3]]
mynewdf_4

,City_ID,City,Country,Max Temp,Current Desc,Lat,Lng,Hotel Name
93,304,Pacific Grove,US,75.2,clear sky,36.62,-121.92,Lovers Point Inn

In [38]:
#Latitude_longtitude pairs (tuple)
City1 = (mynewdf_1.iloc[0,5], mynewdf_1.iloc[0,6])
City2 = (mynewdf_2.iloc[0,5], mynewdf_2.iloc[0,6])
City3 = (mynewdf_3.iloc[0,5], mynewdf_3.iloc[0,6])
City4 = (mynewdf_4.iloc[0,5], mynewdf_4.iloc[0,6])
City1

(16.86, -99.89)

In [39]:
fig = gmaps.figure()
City1toCity4 = gmaps.directions_layer(City1, City4, waypoints=[City2, City3], travel_mode='DRIVING')
fig.add_layer(City1toCity4)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Combine four data frames
df_comb = pd.concat([mynewdf_1, mynewdf_2, mynewdf_3, mynewdf_4])
df_comb

,City_ID,City,Country,Max Temp,Current Desc,Lat,Lng,Hotel Name
84,277,Acapulco,MX,87.8,broken clouds,16.86,-99.89,HS Hotsson Smart Acapulco
97,318,San Patricio,MX,87.8,scattered clouds,19.22,-104.70,Hotel Cabo Blanco
158,543,Rosarito,MX,88.0,scattered clouds,32.33,-117.03,Hotel Festival Plaza Rosarito
93,304,Pacific Grove,US,75.2,clear sky,36.62,-121.92,Lovers Point Inn

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Desc} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in df_comb.iterrows()]

In [42]:
# Add pop-up marker for each city.
locations = df_comb[["Lat", "Lng"]]
max_temp = df_comb["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))