In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Atuona,-9.80,-139.03,79.90,78,98,18.86,PF,2020-07-10 22:02:00
1,1,Ilulissat,69.22,-51.10,42.80,87,100,12.75,GL,2020-07-10 22:02:00
2,2,Ngunguru,-35.62,174.50,50.00,3,3,1.99,NZ,2020-07-10 22:02:01
3,3,Mahebourg,-20.41,57.70,69.80,64,75,18.34,MU,2020-07-10 22:02:01
4,4,Aldan,58.60,125.39,71.35,75,0,5.86,RU,2020-07-10 22:02:01
...,...,...,...,...,...,...,...,...,...,...
573,573,Balingasay,16.36,119.86,83.52,73,100,4.45,PH,2020-07-10 22:03:25
574,574,San Policarpo,12.18,125.51,81.95,79,100,5.41,PH,2020-07-10 22:03:25
575,575,Fairbanks,64.84,-147.72,66.99,34,1,7.85,US,2020-07-10 22:02:06
576,576,Svetlaya,46.54,138.33,60.28,80,38,8.90,RU,2020-07-10 22:03:25
577,577,Evensk,61.95,159.23,53.51,95,100,5.66,RU,2020-07-10 22:03:25

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# Get the maximum temperature.
temps = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Atuona,-9.80,-139.03,79.90,78,98,18.86,PF,2020-07-10 22:02:00
5,5,San Patricio,19.22,-104.70,89.60,66,40,17.22,MX,2020-07-10 22:02:01
8,8,Sipe Sipe,-17.45,-66.38,75.20,13,0,8.05,BO,2020-07-10 22:02:01
15,15,Blacksburg,37.23,-80.41,81.00,78,75,5.82,US,2020-07-10 22:02:03
16,16,Gizo,-8.10,156.84,82.49,79,100,10.65,SB,2020-07-10 22:02:03
20,20,Hobyo,5.35,48.53,78.33,79,20,26.24,SO,2020-07-10 22:02:03
21,21,Washougal,45.58,-122.35,79.00,47,1,6.93,US,2020-07-10 22:02:03
24,24,Kapaa,22.08,-159.32,84.00,74,75,12.75,US,2020-07-10 22:02:04
25,25,Bengkulu,-3.80,102.27,75.49,85,100,3.69,ID,2020-07-10 22:00:05
36,36,Keizer,44.99,-123.03,78.01,49,40,3.38,US,2020-07-10 22:02:05

In [13]:
preferred_cities_df.count()

City_ID       205
City          205
Lat           205
Lng           205
Max Temp      205
Humidity      205
Cloudiness    205
Wind Speed    205
Country       205
Date          205
dtype: int64

In [14]:
preferred_cities_df.notnull().sum()

City_ID       205
City          205
Lat           205
Lng           205
Max Temp      205
Humidity      205
Cloudiness    205
Wind Speed    205
Country       205
Date          205
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0         Atuona      PF     79.90  -9.80 -139.03
5   San Patricio      MX     89.60  19.22 -104.70
8      Sipe Sipe      BO     75.20 -17.45  -66.38
15    Blacksburg      US     81.00  37.23  -80.41
16          Gizo      SB     82.49  -8.10  156.84
20         Hobyo      SO     78.33   5.35   48.53
21     Washougal      US     79.00  45.58 -122.35
24         Kapaa      US     84.00  22.08 -159.32
25      Bengkulu      ID     75.49  -3.80  102.27
36        Keizer      US     78.01  44.99 -123.03

In [34]:
# Set parameters to search for a hotel.
params = {"radius": 5000,"type": "lodging","key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,79.90,-9.80,-139.03,Villa Enata
5,San Patricio,MX,89.60,19.22,-104.70,Hotel Cabo Blanco
8,Sipe Sipe,BO,75.20,-17.45,-66.38,Cabañas Oasis Marino
15,Blacksburg,US,81.00,37.23,-80.41,Hilton Garden Inn Blacksburg University
16,Gizo,SB,82.49,-8.10,156.84,Imagination Island
20,Hobyo,SO,78.33,5.35,48.53,Osmani Hotel
21,Washougal,US,79.00,45.58,-122.35,Camas Hotel & Suites Portland - Vancouver
24,Kapaa,US,84.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
25,Bengkulu,ID,75.49,-3.80,102.27,Grage Hotel Bengkulu
36,Keizer,US,78.01,44.99,-123.03,Best Western Pacific Highway Inn

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))